@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
#week-countdown {
  background: #CCC;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #000;
  padding: 1rem 0;
  font-size: 3rem;
}